#Kasse {
    .title {
        font-size: 16pt;
        margin-bottom: 10px;
    }

    .split {
        display: flex;
        position: relative;

        .cart-list {
            min-height: 100%;
            max-height: 100%;
            min-width: 50%;
            padding-right: 1em;
            position: relative;

            .item {
                -webkit-box-shadow: 0px 0px 15px 5px #0f223f40;
                align-items: center;
                background-color: #0f223f;
                border-radius: 10px;
                box-shadow: 0px 0px 15px 5px #0f223f40;
                color: whitesmoke;
                display: flex;
                height: 40px;
                padding: 1em;
                position: relative;
                width: 100%;

                + .item {
                    margin-top: 5px;
                }

                .quantity {
                    background-color: #0084ff;
                    border-radius: 8px 0 0 8px;
                    color: #0f223f;
                    display: grid;
                    font-weight: 700;
                    height: 100%;
                    left: 0;
                    place-items: center;
                    position: absolute;
                    width: 60px;
                }

                .description {
                    margin-left: 70px;
                }

                .price {
                    align-items: center;
                    background-color: #e4932a;
                    border-radius: 0 8px 8px 0;
                    color: #0f223f;
                    display: flex;
                    font-weight: 700;
                    height: 100%;
                    justify-content: right;
                    padding: 0 1em;
                    position: absolute;
                    right: 0;
                    width: 110px;
                }

                &.shipping {
                    align-items: center;
                    background-color: #0f223f;
                    border-radius: 10px;
                    display: flex;
                    padding: 0 1em;
                    position: relative;

                    i {
                        background-color: #e42a2a;
                        border-radius: 8px 0 0 8px;
                        display: grid;
                        height: 100%;
                        left: 0;
                        place-items: center;
                        position: absolute;
                        top: 0;
                        width: 60px;
                    }

                    .shipping-price {
                        align-items: center;
                        background-color: #e42a2a;
                        border-radius: 0 10px 10px 0;
                        display: flex;
                        height: 100%;
                        justify-content: right;
                        padding: 0 1em;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 110px;
                    }

                    .standard + .express {
                        margin-left: 10px;
                    }

                    .express {
                        width: 50%;
                    }
                }

                &.total {
                    .total-sum {
                        background-color: #07c774;
                        position: absolute;
                    }
                }
            }

            .divider {
                border: solid 1px #0f223f85;
                margin: 0.5em;
            }

            .cart-is-empty {
                align-items: center;
                background-color: #0f223f;
                border-radius: 50%;
                color: whitesmoke;
                display: flex;
                display: flex;
                flex-direction: column;
                height: 300px;
                justify-content: center;
                left: 50%;
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 300px;

                .fas {
                    font-size: 40pt;
                }

                span {
                    font-size: 16pt;
                }
            }
        }

        .additional-info {
            height: 100%;
            min-width: 50%;

            .form-item {
                display: flex;
                width: 100%;
                height: 40px;

                + .form-item {
                    margin-top: 10px;
                }

                label {
                    min-width: 85px;
                    background-color: #0f223f;
                    color: whitesmoke;
                    display: grid;
                    place-items: center;
                    padding: 0 1em;
                    border-radius: 10px 0 0 10px;
                }

                input {
                    border-radius: 0 10px 10px 0;
                    width: 100%;
                }

                &.street-nr {
                    .street-input {
                        width: 80%;
                    }

                    .house-nr {
                        margin-left: 10px;
                        width: 30%;

                        input {
                            width: 80px;
                        }
                    }
                }

                &.city-postal {
                    .postal-code {
                        width: 150px;
                    }

                    .city {
                        margin-left: 10px;
                    }
                }

                &.phone {
                    display: flex;

                    input {
                        width: 250px;
                    }
                }
            }

            .address-form {
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                width: 100%;

                .optional {
                    padding-top: 5px;
                    display: flex;
                    line-height: 100%;
                    font-style: italic;
                    margin: 10px 0 5px 0;
                }
            }

            .payment-method + .shipping-options {
                margin-left: 10px;
            }

            .payment-method {
                display: flex;
                flex-direction: column;
                margin-top: 1em;
                width: 50%;

                .payment-method-item {
                    -webkit-box-shadow: 0px 0px 15px 5px #0f223f40;
                    align-items: center;
                    border-radius: 5px;
                    box-shadow: 0px 0px 15px 5px #0f223f40;
                    color: whitesmoke;
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    width: 300px;

                    + .payment-method-item {
                        margin: 10px 0 0 0;
                    }

                    i {
                        margin-right: 1em;
                    }
                }
            }

            .shipping-options {
                margin-top: 1em;
                width: 50%;

                .options {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .option {
                        -webkit-box-shadow: 0px 0px 15px 5px #0f223f40;
                        align-items: center;
                        box-shadow: 0px 0px 15px 5px #0f223f40;
                        display: flex;
                        position: relative;
                        height: 80px;
                        width: 100%;

                        + .option {
                            margin: 10px 0 0 0;
                        }

                        i {
                            margin-right: 1em;
                        }

                        .price {
                            align-items: center;
                            border-radius: 0 8px 8px 0;
                            display: flex;
                            height: 100%;
                            justify-content: right;
                            padding-right: 1em;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 90px;
                        }
                    }
                }
            }

            .arrival-date {
                margin-top: 1em;
                font-size: 16pt;
                color: #0f223f;
                background-color: #07c774;
                height: 60px;
                display: flex;
                justify-content: center;
                padding: 0 1em;
                border-radius: 10px;
                flex-direction: column;
                line-height: 16pt;
                
                .subtitle {
                    font-size: 11pt;
                    line-height: 12pt;
                }
            }
        }
    }
}
