#Warenkorb {
    position: relative;
    height: 100%;

    .cart-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .cart-item {
            -webkit-box-shadow: 0px 0px 15px 5px #0f223f40;
            align-items: center;
            background-color: #0f223f;
            border-radius: 10px;
            box-shadow: 0px 0px 15px 5px #0f223f40;
            color: whitesmoke;
            display: flex;
            height: 60px;
            margin-bottom: 10px;
            padding: 1em;
            position: relative;
            width: 100%;

            .image {
                height: 60px;
                margin: 0 1em 0 -1em;

                img {
                    border-radius: 10px 0 0 10px;
                    height: 100%;
                    width: 80px;
                    object-fit: cover;
                }
            }

            .quantity {
                display: flex;
                margin-right: 1em;

                .change-quantity {
                    border-radius: 10px;
                    color: whitesmoke;
                    cursor: pointer;
                    display: grid;
                    height: 30px;
                    place-items: center;
                    width: 30px;

                    .fas {
                        transition: transform 300ms ease;
                    }

                    &:hover {
                        .fas {
                            transform: translateY(-5px);
                        }
                    }

                    &:active {
                        .fas {
                            transform: scale(0.95);
                        }
                    }

                    &.decrement {
                        background-color: #e42a2a;

                        &:hover {
                            background-color: #ff1414;
                        }

                        &:active {
                            background-color: #da0b0b;
                        }
                    }

                    &.increment {
                        background-color: #07c774;

                        &:hover {
                            background-color: #00df7e;
                        }

                        &:active {
                            background-color: #06c070;
                        }
                    }
                }

                .quantity-text {
                    margin: 0 10px;
                    min-width: 60px;
                    padding: 0 7px;
                    height: 30px;
                    text-align: center;
                    background-color: whitesmoke;
                    border-radius: 10px;
                    color: #0f223f;
                    display: grid;
                    place-items: center;
                    font-weight: 700;
                }
            }

            .price {
                align-items: center;
                background-color: #e4932a;
                border-radius: 0 8px 8px 0;
                color: #0f223f;
                display: flex;
                font-weight: 700;
                height: 100%;
                justify-content: center;
                justify-content: right;
                padding: 0 1em;
                position: absolute;
                right: 0;
                width: 150px;
            }

            .delete-item {
                background-color: #e42a2a;
                border-radius: 5px;
                cursor: pointer;
                display: grid;
                height: 30px;
                place-items: center;
                position: absolute;
                right: 8em;
                width: 30px;

                .fas {
                    transition: transform 300ms ease;
                }

                &:hover {
                    .fas {
                        transform: translateY(-5px);
                    }
                }

                &:active {
                    .fas {
                        transform: scale(0.95);
                    }
                }
            }
        }

        .total {
            align-items: center;
            background-color: #0f223f;
            border-radius: 10px;
            color: whitesmoke;
            display: flex;
            height: 60px;
            position: relative;
            width: 450px;
            margin-left: auto;

            .total-text {
                margin: 0 1em;
            }

            .total-price {
                align-items: center;
                background-color: #07c774;
                border-radius: 0 10px 10px 0;
                display: flex;
                height: 100%;
                justify-content: right;
                margin-left: auto;
                padding: 0 1em;
                width: 150px;
            }
        }
    }

    .cart-is-empty {
        align-items: center;
        background-color: #0f223f;
        border-radius: 50%;
        color: whitesmoke;
        display: flex;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        left: 50%;
        padding: 2em;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;

        .fas {
            font-size: 40pt;
        }

        span {
            font-size: 16pt;
        }
    }
}
